@import "../../common/styles/sass/mixins";

.nav {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-right: 50px;

  a {
    @include text(20px, 1.2);
    cursor: pointer;

    &:hover {
      color: $primaryColor;

    }
  }

  .active {
    color: $primaryColor;
  }

}

@media screen and (max-width: 800px) {
  .nav {
    display: none;
  }

}

