@import "src/common/styles/sass/variables";

.skillsBlock {
  margin-bottom: $marginBottomBlock;

  .skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    @media screen and (max-width: 800px) {
      margin-top: 80px;
    }

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;
      @media screen and (max-width: 680px) {
        justify-content: center;
      }
    }
  }
}
